<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - About</title>
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <main class="container mt-4">
        <div class="about">
            <h1>About Us</h1>
            <p>Welcome to SmartHomeWeb, your source for all things related to home automation and smart technology. Our mission is to make your home smarter and more efficient.</p>
            <p>With years of experience in the industry, our team is dedicated to providing you with the latest information, product reviews, and tips to transform your home into a smart home.</p>
        </div>
    </main>

    <!-- Include JavaScript libraries and custom scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Your custom JavaScript code goes here -->
</body>
</html>
