<!DOCTYPE html>
<html lang="de-de">
    <head>
        <meta charset="UTF-8">
        <title>SmartHomeWeb - Sensor erfolgreich hinzugefügt</title>
        <!-- Include any necessary stylesheets and scripts here -->
        <!--
        <link rel="stylesheet" href="../../static/web/styles/base.css">
        <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
        -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <!--
            https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes
        -->
    </head>

    {% include 'navbar.html' %}

<div class="sensor">
    <a href="{% url 'showsensorbasepage' %}" class="btn btn-primary">Back</a>
</div>
<body>
    
    <div class="success-message">
        <h1>Sensor Added Successfully</h1>
        <p>Your sensor has been successfully added to the database.</p>
        <a href="">Add Another Sensor</a>
    </div>
</body>
</html>
