<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Neuen Sensor hinzufügen</title>
    <!-- Include any necessary stylesheets and scripts here -->
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes
    -->
</head>
{% include 'navbar.html' %}

<body>
    <div class="sensordaten">
        <div class="sensor">
            <a href="{% url 'showsensorbasepage' %}" class="btn btn-primary">Back</a>
        </div>
        <h1>Neuen Sensor hinzufügen:</h1>
        <div class="mb-3">
            <form method="post" action="">
                {% csrf_token %}
                <!-- Include input fields for sensor details -->





                <div class="mb-3">
                    <label for="sensor_type" class="form-label">Sensor Raum:</label>
                    <input type="text" class="form-control" id="sensor_raum" name="sensor_raum" required>
                </div>
                <div class="mb-3">
                    <label for="sensor_location" class="form-label">Sensor IP:</label>
                    <input type="text" class="form-control" id="sensor_ip" name="sensor_ip" required>
                </div>
                <div class="mb-3">
                    <label for="sensor_location" class="form-label">Sensor Code:</label>
                    <input type="text" class="form-control" id="sensor_code" name="sensor_code">
                </div>
                <!-- Add more input fields for other sensor details as needed -->
                <br>
                <input type="submit" value="Sensor hinzufügen">
            </form>
        </div>
    </div>
</body>
</html>
