<!DOCTYPE html>
<html lang="de-de">
    <head>
        <meta charset="UTF-8">
        <title>SmartHomeWeb - Sensor bearbeiten</title>
        <!-- Include any necessary stylesheets and scripts here -->
        <!--
        <link rel="stylesheet" href="../../static/web/styles/base.css">
        <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
        -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <!--
            https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes
        -->
    </head>
    {% include 'navbar.html' %}

    <div class="sensor">
        <a href="{% url 'showsensorbasepage' %}" class="btn btn-primary">Back</a>
    </div>
<body>
    <div class="sensordaten">
        <h1>Eigenschaften des Sensors:</h1>
        <div class="mb-3">
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Speichern">
            </form>
        </div>
    </div>
</body>
</html>