<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Startseite</title>
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <header>
        {% include 'navbar.html' %}

    </header>

    <main class="container mt-4">
        <div class="Luftdruck">
            <h1>Luftdruck:</h1>
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Filter...</button>
            </form>
            <ul class="list-group mt-3">
                {% for ld in ldlist %}
                <li class="list-group-item">
                    <strong>ID:</strong> {{ ld.id }},
                    <strong>Luftdruck:</strong> {{ ld.luftdruck }},
                    <strong>Raum:</strong> {{ ld.sensor.sen_raum }},
                    <strong>Datum:</strong> {{ ld.datum }},
                    <a href="{{ ld.sensor.id }}/">
                        Details...
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <!-- Include JavaScript libraries and custom scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Your custom JavaScript code goes here -->
</body>
</html>
