<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SmartHomeWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"> 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showindex' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showabout' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showcontact' %}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'displaytemps' %}">Temperaturen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'displayhumidity' %}">Luftfeuchtigkeit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'displaypressure' %}">Luftdruck</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showsensorbasepage' %}">Sensoren</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>